---
permalink: css/card.css
---

.card {
  padding: <%= card.PADDING %>px;
}

.card__inner {
  border: <%= card.BORDER %>px solid #EDEDED;
}

.card a {
  text-decoration: none;
}

.card__title {
  margin: 0;
  padding: <%= card.PADDING*2 %>px;
  font-size: 16px;
  line-height: 24px;
  color: <%= colors["On Surface"]["On Surface"].color %>;
  border-top: <%= card.BORDER %>px solid #EDEDED;
  background-color: <%= colors["Surface"].color %>;
}