.header {
  border-bottom: 1px solid #DADADA;
}

/* logo */

.header__logo {
  float: left;
  /* 
  position: absolute;
  top: 11px; .header__container padding not calculated 
  left: <%= responsive.GAP %>px;
  */
}

.logo a {
  display: block;
  padding: <%= responsive.GAP %>px;
}

.logo a img {
  display: block; /* normalize geometry img inside a */
  width: auto;
}

/* main-menu */

.header__main-menu-container {
  float: left;
  /* margin-left: 110px; spaces for absolutely positioned logo/socials. */
}

.main-menu {
  margin: 0;
  padding: 0;
}

.main-menu__item {
  padding: <%= responsive.GAP %>px;;
  display: block;
  float: left;
}

.main-menu__link {
  white-space: nowrap;
}

.main-menu:before,
.main-menu:after,
.header__container:before,
.header__container:after { 
  content: "";
  display: table; 
}

.main-menu:after,
.header__container:after {
  clear: both; 
}

.main-menu,
.header__container { 
  zoom: 1; 
}
