.header__main-menu-burger { /* Burger is not needed if it is not a mobile version and javascript is not connected. */
  display: none;
}

@media (max-width: <%= menu.breakpoint - 1 %>px) {
  .header__logo {
    position: static;
  }

  .header__main-menu-container {
    margin: 0;
    float: none;
  }

  .main-menu__item {
    display: block;
    float: none; /* Menu items will line up one above the other. */
    padding: 0;
  }

  .main-menu__link {
    display: block;
  }

  .js .header__main-menu-burger {
    display: block;
    /* Coincidentally, the height of the button is equal to the height of the logo, and there is no need to center the button. But if it were not so, you need to add padding for the container. */
    position: absolute;
    top: <%= responsive.GAP %>px;
    right: <%= responsive.GAP %>px;
  }

  .header__logo {
    float: none;
  }

  .js .header__logo {
    margin-right: auto;
  }

  .js .header__main-menu-container { /* Default class for menu (with js). */
    display: none;
  }

  .js .header__main-menu-container--opened { /* Class for opened menu. */
    display: block;
  }
}
