---
permalink: js/header.js
---

<%- include("../../_includes/js/header/menu.js.ejs"); %>
<%- include("../../_includes/js/header/mobile.js.ejs"); %>
<%- include("../../_includes/js/header/anchor-links.js"); %>
<%- include("../../_includes/js/header/close-dropdown-main-menu.js.ejs"); %>
<%- include("../../_includes/js/header/empty-space-click.js"); %>
<%- include("../../_includes/js/header/keyboard-support.js"); %>
