(function() {
  var accordion = document.getElementsByClassName('accordion')[0];
  var titles = document.getElementsByClassName('accordion__title');
  var toggles = document.getElementsByClassName('accordion__toggle');
  var panels = document.getElementsByClassName('accordion__panel');

  function closePanel(title, toggle, panel) {
    window.classFunction.removeClass(title, 'accordion__title--active');
    window.classFunction.removeClass(toggle, 'accordion__toggle--active');
    window.classFunction.removeClass(panel, 'accordion__panel--active');
    if(window.animation) {
      panel.style = 'height: 0px; animation-name: closePanel';
    }
    toggle.setAttribute('aria-expanded', 'false');
  }

  function openPanel(title, toggle, panel) {
    window.classFunction.addClass(title, 'accordion__title--active');
    window.classFunction.addClass(toggle, 'accordion__toggle--active');
    window.classFunction.addClass(panel, 'accordion__panel--active');
    if(window.animation) {
      var contentHeight = panel.querySelector('.accordion__content').offsetHeight;
      panel.style = 'height:' + contentHeight + 'px; animation-name: openPanel';
    }
    toggle.setAttribute('aria-expanded', 'true');
  }

  function setNewAccordion(toggleParrent, toggle, panel) {
    if (!event) { // If browser is IE8, or older the event object is a global property (window.event) and not an argument of the handler.
      event = window.event;
    }

    if(!<%= accordion.multiply %>) {
      var previousActiveToggleParrent = document.getElementsByClassName('accordion__title--active')[0];
      var previousActiveToggle = document.getElementsByClassName('accordion__toggle--active')[0];
      var previousActivePanel = document.getElementsByClassName('accordion__panel--active')[0];

      if(!(previousActiveToggle.getAttribute('id') === toggle.getAttribute('id'))) {
        closePanel(previousActiveToggleParrent, previousActiveToggle, previousActivePanel);
      }

      openPanel(toggleParrent, toggle, panel);
    } else {
      if(toggle.getAttribute('aria-expanded') === 'true') {
        closePanel(toggleParrent, toggle, panel);
      } else {
        openPanel(toggleParrent, toggle, panel);
      }
    }
  }

  function addTogglelClickHandler(toggles, togglesParent, toggle, panel, i) {
    toggle.onclick = function() {
      if(window.animation) {
        window.classFunction.addClass(accordion, 'animated');
      }
      setNewAccordion(togglesParent, toggle, panel);
    };

    toggle.onkeydown = function() {
      var keyCode = event.keyCode || event.which;

      if(keyCode === Keycode.ARROW_UP) {
        event.returnValue = false;
        if(i === 0) {
          toggles[toggles.length - 1].focus();
        } else {
          toggles[i - 1].focus();
        }
      }

      if(keyCode === Keycode.ARROW_DOWN) {
        event.returnValue = false;
        if(i === toggles.length - 1) {
          toggles[0].focus();
        } else {
          toggles[i + 1].focus();
        }
      }

      if(keyCode === Keycode.HOME) {
        toggles[0].focus();
      }

      if(keyCode === Keycode.END) {
        toggles[toggles.length - 1].focus();
      }

      if(keyCode === Keycode.SPACE || keyCode === Keycode.ENTER) {
        if(window.animation) {
          window.classFunction.addClass(accordion, 'animated');
        }        
        event.returnValue = false;
        setNewAccordion(togglesParent, toggle, panel);
      }

    }
  }

  for(var i = 0; i < toggles.length; i++) {
    toggles[i].removeAttribute('disabled');

    if(window.classFunction.hasClass(toggles[i], 'accordion__toggle--active')) {
      toggles[i].setAttribute('aria-expanded', 'true');
      if(window.animation) {
        var contentHeight = panels[i].querySelector('.accordion__content').offsetHeight;
        panels[i].style = 'height:' + contentHeight + 'px;';
      }
    } else {
      closePanel(titles[i], toggles[i], panels[i]);
    }
    addTogglelClickHandler(toggles, titles[i], toggles[i], panels[i], i);
  }

  if(window.animation) {
    window.onresize = function() {
      var currentActivePanels = document.getElementsByClassName('accordion__panel--active');
      var currentActivePanelContents = document.querySelectorAll('.accordion__panel--active .accordion__content');

      for(var i = 0; i < currentActivePanels.length; i++) {
        currentActivePanels[i].style.height = currentActivePanelContents[i].offsetHeight + 'px';
      }
    }
  } 
})();