---
permalink: css/header.css
---

<%- include("../../_includes/css/header/simple/ie5.css.ejs"); %>
<%- include("../../_includes/css/header/simple/ie7.css"); %>
<%- include("../../_includes/css/header/simple/ie8.css"); %>
<%- include("../../_includes/css/header/simple/mobile.css.ejs"); %>
<%- include("../../_includes/css/header/simple/flex.css.ejs"); %>

<%- include("../../_includes/css/menu/burger-button.css.ejs"); %>
<%- include("../../_includes/css/menu/main-menu__link.css.ejs"); %>
<%- include("../../_includes/css/menu/main-menu__link--current.css.ejs"); %>