(function() {
    if(document.querySelector && window.isMediaQueriesSupported()) { // This function is only need if there is support for media queries.
        var burgerButton = document.querySelector('.burger-button');
        var mainMenuContainer = document.querySelector('.header__main-menu-container');
        
        window.closeDropdownMainMenu = function() {
            burgerButton.setAttribute('aria-expanded', 'false');
            burgerButton.setAttribute('aria-label', 'Open menu');
            burgerButton.setAttribute('style', 'background-image: url("data:image/svg+xml;base64,<%- include("../../../img/buttons/burger-base64.svg.ejs"); %>");');
            window.classFunction.removeClass(mainMenuContainer, 'header__main-menu-container--opened');
            document.removeEventListener('click', window.emptySpaceClick);
        }
    }
})();