<!Doctype html>
<html lang="{{ site.language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Design-system: ui kit for {{ site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/responsive/max-width.css">
    <link rel="stylesheet" href="/css/responsive/responsive.css">
    <link rel="stylesheet" href="/css/responsive/container.css">
    <link rel="stylesheet" href="/css/responsive/buffer.css">

    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/design-system/ui-kit.css">

    <!-- header -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/accordion/accordion.css">


    {% include 'partials/js-detect.njk' %}
  </head>
  <body class="ui-kit design-system">
    {% include 'partials/header.njk' %}
    {{ content | safe }}
    <!-- Header -->
    <script src="/js/utils.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>
