.js .accordion__panel {
  display: none;
}

.js .accordion__panel--active {
  display: block;
}

.accordion {
  padding: <%= accordion.padding %>px;
}

.accordion__inner {
  border-radius: 8px;
  border: 1px solid <%= colors.Border.color %>;
}

.accordion__inner .accordion__title:nth-child(1),
.accordion__inner .accordion__title:nth-child(1) .accordion__toggle {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.accordion__inner .accordion__title:nth-last-child(2):not(.accordion__title--active),
.accordion__inner .accordion__title:nth-last-child(2):not(.accordion__title--active) .accordion__toggle,
.accordion__inner .accordion__title:nth-last-child(1) .accordion__toggle {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.accordion__inner .accordion__title:nth-last-child(1),
.accordion__inner .accordion__panel:nth-last-child(1) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 0;
}

.js .accordion__inner .accordion__title,
.accordion__inner .accordion__panel {
  border-bottom: 1px solid <%= colors.Border.color %>;
}

.js .accordion__inner .accordion__title--active {
  border-bottom: 0;
}

.js .accordion__inner .accordion__title:nth-last-child(2):not(:nth-first-child(1)) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 0;
}

.js .accordion__inner .accordion__title:nth-last-child(2):not(:nth-first-child(1)) .accordion__toggle {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.js .accordion__inner .accordion__title--active:nth-last-child(2):not(:nth-first-child(1)),
.js .accordion__inner .accordion__title--active:nth-last-child(2):not(:nth-first-child(1)) .accordion__toggle {
  border-radius: 0;
}

.js.animation-supported .accordion__title,
.js .accordion__panel--active:nth-last-child(1) {
  border-bottom: 0;
}

.accordion__title {
  padding: 0;
  overflow: hidden;
}

.accordion__title,
.accordion__panel {
  background-color: <%= colors.Surface.color %>;
}

.accordion__toggle {
  display: block;
  width: 100%;
  border: 0;
  padding: <%= accordion.title.padding %>px;
  <% if(typeof accordion['indicator'] !== 'undefined' && Object.keys(accordion.indicator).length != 0 && accordion.indicator.position === "left") { %>
  text-align: right;
  <% } %>
  text-align: left;
}

.accordion__toggle span {
  display: block;
}

.accordion__panel {
  padding: <%= accordion.panel.padding %>px;
}

.accordion__title--indicator span {
  display: block;
}

<% if(typeof accordion['indicator'] !== 'undefined' && Object.keys(accordion.indicator).length != 0) { %>

.accordion__title--indicator span {
  <% if(accordion.indicator.position === "left") { %>
  float: right;
  <% } else { %>
  float: left;
  <% } %>
}

.accordion__title--indicator .accordion__toggle {
  position: relative;
  min-height: <%= accordion.indicator.width + accordion.title.padding*2 + accordion.title.padding*2 %>px;
}

.accordion__title--indicator .accordion__indicator {
  position: absolute;
  top: <%= accordion.title.padding %>px;
  <% if(accordion.indicator.position === "left") { %>
  left: <%= accordion.title.padding %>px;
  <% } else { %>
  right: <%= accordion.title.padding %>px;
  <% } %>
}

.accordion__title--indicator .accordion__toggle:before,
.accordion__title--indicator .accordion__toggle:after { 
  content: "";
  display: table; 
}

.accordion__title--indicator .accordion__toggle:after {
  clear: both; 
}

@supports (display: flex) {
  .accordion__title--indicator .accordion__toggle::before,
  .accordion__title--indicator .accordion__toggle::after {
    content: none;
  }

  .accordion__title--indicator .accordion__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    <% if(accordion.indicator.position === "left") { %>
    flex-direction: row-reverse;
    <% } %>
  }

  .accordion__title--indicator span {
    float: none;
  }

  .accordion__title--indicator .accordion__indicator {
    position: static;
  }  
}

.accordion__indicator {
  margin: <%= accordion.indicator.margin %>px;
  width: <%= accordion.indicator.width %>px;
  height: <%= accordion.indicator.height %>px;
  background-color: <%= colors.Gray["100"].color %>;
  background-image: url("../../img/buttons/accordion-down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 5px;
  border-radius: 50%;
}
  
.svg .accordion__indicator {
  background-image: url("../../img/buttons/accordion-down.svg");
}
  
.accordion__toggle--active .accordion__indicator {
  background-image: url("../../img/buttons/accordion-up.png");
}
  
.svg .accordion__toggle--active .accordion__indicator {
  background-image: url("../../img/buttons/accordion-up.svg");
}

.svg.animation-supported .accordion__indicator,
.svg.animation-supported .accordion__toggle--active .accordion__indicator {
  background-image: url("../../img/buttons/accordion-down.svg");
}

.svg.animation-supported .accordion .accordion__toggle--active .accordion__indicator {
  transform: rotate(180deg);
}

.svg.animation-supported .accordion.animated .accordion__toggle .accordion__indicator {
  transition: transform 0.2s ease-in-out;
}

<% } %>

.animation-supported.js .accordion__panel,
.animation-supported.js .accordion__panel--active {
  display: block;
}

.animation-supported.js .accordion__panel {
  padding-top: 0;
  padding-bottom: 0;
}

.animation-supported.js .accordion__panel--active {
  padding-top: <%= accordion.panel.padding %>px;
  padding-bottom: <%= accordion.panel.padding %>px;
}

.animation-supported.js .accordion .accordion__panel {
  overflow: hidden;
  height: 0;
}

.animation-supported.js .accordion .accordion__panel--active {
  height: auto;
}

.animation-supported.js .accordion__inner .accordion__title {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.animation-supported.js .accordion.animated .accordion__panel {
  overflow: hidden;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  transition: 0.2s ease-in-out height;
}

@keyframes openPanel {
  from {
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    padding-top: <%= accordion.panel.padding %>px;
    padding-bottom: <%= accordion.panel.padding %>px;
  }
}

@keyframes closePanel {
  from {
    padding-top: <%= accordion.panel.padding %>px;
    padding-bottom: <%= accordion.panel.padding %>px;
  }

  to {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Change span paddings */

.accordion__toggle span {
  padding: 8px;
}