.js .accordion__toggle {
  cursor: pointer;
}

.accordion__toggle {
  border: 0;
  background-color: <%= colors.Surface.color %>;
  font-size: 16px;
  font-weight: bold;
}

.js .accordion__toggle:hover,
.js .hover .accordion__toggle {
  background-color: <%= colors.Gray['100'].color%>;
}

.js .accordion__toggle:active,
.js .active .accordion__toggle {
  background-color: <%= colors.Gray['200'].color%>;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible#selectively_showing_the_focus_indicator */

.js .accordion__toggle:focus,
.js .focus .accordion__toggle {
  /* Provide a fallback style for browsers
  that don't support :focus-visible */
  box-shadow: 0 0 0 2px <%= colors.Surface.color%> inset,
              0 0 0 3px <%= colors.Gray['400'].color%> inset;
}

.js .accordion__toggle:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
  that do support :focus-visible */
  box-shadow: none;
  outline: none;
}

.js .accordion__toggle:focus-visible {
  /* Draw focus style for
  keyboard-focus on browsers that do support
  :focus-visible */
  box-shadow: 0 0 0 2px <%= colors.Surface.color%> inset,
              0 0 0 3px <%= colors.Gray['400'].color%> inset;
  outline: none;
}

.disabled .accordion__toggle:hover,
.disabled .accordion__toggle:active {
  cursor: default;
  background-color: <%= colors.Surface.color %>;
}
