.js .accordion__panel {
  display: none;
}

.js .accordion__panel--active {
  display: block;
}

<% if(typeof accordion['indicator'] !== 'undefined' && Object.keys(accordion.indicator).length != 0) { %>
.accordion__title--indicator .accordion__toggle {
  position: static;
}

.accordion__title--indicator .accordion__indicator {
  position: static;
  <% if(accordion.indicator.position === "left") { %>
  float: right;
  <% } else { %>
  float: left;
  <% } %>
}

.accordion__title--indicator span {
  <% if(accordion.indicator.position === "left") { %>
  float: right;
  <% } else { %>
  float: left;
  <% } %>
}
<% } %>
