<div class="header">
  <header>
    <div class="header__container max-width">
      <div class="header__logo logo" role="banner">
        <a href="/">
        {% set alt = site.name + " logo" %}
          {% pictureSvgPng "img/logo.svg", alt, "95", "20" %}
        </a>
      </div>
      <div class="header__main-menu-burger burger"></div>
      <div class="header__main-menu-container" id="main-menu-container">
        {% include './menu.njk' %}
      </div>
    </div>
  </header>
</div>