<div class="header">
  <header>
    <div class="header__container max-width">
      <div class="header__logo logo" role="banner">
        <a href="/">
          {% set alt = site.name + " logo" %}
          {% pictureSvgPng "img/logo.svg", alt, "95", "20" %}
        </a>
      </div>
      <div class="header__main-menu-burger burger"></div>
      <div class="header__main-menu-container" id="main-menu-container">
        {% include './menu.njk' %}
      </div>
      <ul class="header__social-links social-links"> <!-- FIXME nameing maybe container? -->
        <li class="social-links__item">
          <a class="social-links__link" href="#" aria-label="Our Linkedin" target="_blank" rel="noopener"> <!-- TODO add aria-label to all -->
            {% pictureSvgPng "img/menu/socials/linkedin.svg", "", "20", "20" %}
          </a>
        </li>
        <li class="social-links__item">
          <a class="social-links__link" href="#" aria-label="Our phone">
            {% pictureSvgPng "img/menu/socials/phone.svg", "", "20", "20" %}
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>