<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/responsive/max-width.css">
    <link rel="stylesheet" href="/css/responsive/responsive.css">
    <link rel="stylesheet" href="/css/responsive/container.css">
    <link rel="stylesheet" href="/css/responsive/buffer.css">

    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/design-system/assets.css">
    <link rel="stylesheet" href="/css/design-system/ui-kit.css">
    <link rel="stylesheet" href="/css/design-system/color.css">
    <link rel="stylesheet" href="/css/design-system/typography.css">

    <!-- header -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/utils.css">

    <!-- accordion -->
    <link rel="stylesheet" href="/css/accordion/accordion.css">

    <!--[if IE 5]>
    <link rel="stylesheet" href="/css/accordion/ie5fix.css">
    <![endif]-->

    <!-- More themes here https://github.com/PrismJS/prism-themes -->
    <!--<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">-->
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-solarizedlight.css" rel="stylesheet">
    <style>
      p > code {
        /* TODO make nicer (little wider and rounded) */
        background-color: #E8E8E8;
      }
    </style>

    {% include 'partials/js-detect.njk' %}
  </head>
  <body>
    <!-- Header -->
    {% include 'partials/header.njk' %}
    {{ content | safe }}
    <script src="/js/utils.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/accordion.js"></script>
  </body>
</html>