<!Doctype html>
<html lang="{{ site.language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/favicon.njk' %}
    <link rel="stylesheet" href="/css/responsive/max-width.css">
    <link rel="stylesheet" href="/css/responsive/responsive.css">
    <link rel="stylesheet" href="/css/responsive/container.css">
    <link rel="stylesheet" href="/css/responsive/buffer.css">

    <link rel="stylesheet" href="/css/responsive/picture.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/spacers.css">
    <link rel="stylesheet" href="/css/typography.css">

    <!-- header -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/utils.css">

    {% include 'partials/js-detect.njk' %}
  </head>
  <body>
    {% include 'partials/header.njk' %}
    {{ content | safe }}
    <!-- Header -->
    <script src="/js/utils.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>