<!Doctype html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% include 'partials/favicon.njk' %}
    <link rel="stylesheet" href="/css/responsive/max-width.css">
    <link rel="stylesheet" href="/css/responsive/responsive.css">
    <link rel="stylesheet" href="/css/responsive/container.css">
    <link rel="stylesheet" href="/css/responsive/buffer.css">

    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/post-card.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/ui-kit.css">
  </head>
  <body>
    <h1>Hello 11ty!</h1>
    {{ content | safe }}
  </body>
</html>
